body {
	margin: 0;
}

#navbar {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: lightblue;
	position: fixed;
	height: 100%;
	width: 15%;
	font-size: 18px;
}

td.cardList {
	width:10%;
}
td.empty {
	width:3%;
}

table.cardList {
	font-size: 20px;
	padding: 15px;
	text-align: center;
}